extends header
		
block content

	main
		.row
			.col.s12.iap-desc
				h3 Compra Social
				h5.
					Compra social es una plataforma que permite adquirir productos directamente de IAPs elaborados por personas con discapacidades, en situaciones vulnerables con el fin de que su trabajo los integre a la economía local.
					Por medio de la plataforma es posible conocer y contactar a las IAP que ofrecen productos y servicios generados por los distintos actores de la sociedad dentro de dichas IAPs. La intención de la app es que las personas cambien su habito de compras y, en vez de comprarle a las cadenas de supermercados, se compre y consuma producción local beneficiando a los productores y reactivando la economía local.

				h3 Diseño
				h5.
					Todo el diseño esta basasdo en las especificaciones de diseño de google Material Design que nos permite tener una mejor estructura visual y de información.

	footer.container
			.row
				div.col.l6.s6
					p © 2015 Comercio Social. Todos los derechos reservados
				div.col.l3.s3
					p Términos y Condiciones
				div.col.l3.s3
					p Prensa

	script(type="text/javascript" src="/js/dependencies/jquery.min.js")
	script(type="text/javascript" src="/js/dependencies/materialize.min.js")
	script(type="text/javascript" src="/js/dashboard.js")
