doctype html(lang='en')
head
	meta(charset='utf-8')
	|     
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	|     
	meta(name='description', content='')
	|     
	meta(name='author', content='Dashboard')
	|     
	title #{iap[0].nombre}

	link(type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection")
	link(type="text/css" rel="stylesheet" href="/css/dashboard.css"  media="screen,projection")
	link(type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css")
	
	body.grey.lighten-4

		header
			nav.top-nav.teal.accent-4
				.container
					.nav-wrapper
						a.page-title #{iap[0].nombre}
						a.button-collapse.top-nav.full.hide-on-large-only(href="#" data-activates="nav-mobile")
							i.mdi-navigation-menu

			ul#nav-mobile.side-nav.fixed
				li.logo
					div.logo-container
						img(src="/img/logo_small.png")
				li.no-padding
					ul.collapsible.collapsible-accordion
						li.bold
							a.collapsible-header.waves-effect.waves-teal(href="#") Productos
							.collapsible-body
								ul
									li
										a(href="#") Destacados
									li
										a(href="#") Ver todos
						li.bold
							a.collapsible-header.waves-effect.waves-teal(href="#") Organizaciones
							.collapsible-body
								ul
									li
										a(href="#") Destacadas
									li
										a(href="#") Ver todos

				li
					div
						a.btn.waves-effect.waves-light(href="#") Inscribe tu IAP


		main
			.row
				.col.s12
                    img(src="", alt="")
					h6 #{iap[0].descripcion}


		footer.container
			.row
				div.col.l6.s6
					p © 2015 Comercio Social. Todos los derechos reservados
				div.col.l3.s3
					p Términos y Condiciones
				div.col.l3.s3
					p Prensa

		script(type="text/javascript" src="js/dependencies/jquery.min.js")
		script(type="text/javascript" src="js/dependencies/materialize.min.js")
		script(type="text/javascript" src="js/dashboard.js")
