doctype html(lang='en')
head
	meta(charset='utf-8')
	|     
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	|     
	meta(name='description', content='')
	|     
	meta(name='author', content='Dashboard')
	|     
	title Productos

	link(type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection")
	link(type="text/css" rel="stylesheet" href="css/dashboard.css"  media="screen,projection")
	
	body.grey.lighten-4
		
		header
			nav.top-nav.teal.accent-4
				.container
					.nav-wrapper
						a.page-title Productos destacados
						a.button-collapse.top-nav.full.hide-on-large-only(href="#" data-activates="nav-mobile")
							i.mdi-navigation-menu
	
			ul#nav-mobile.side-nav.fixed
				li.logo
					div.logo-container
						img(src="img/logo_small.png")
				li.no-padding
					ul.collapsible.collapsible-accordion
						li.bold
								a.collapsible-header.waves-effect.waves-teal(href="#") Productos
								.collapsible-body
									ul
										li
											a(href="#") Destacados
										li
											a(href="#") Ver todos
						li.bold
							a.collapsible-header.waves-effect.waves-teal(href="#") Organizaciones
							.collapsible-body
								ul
									li
										a(href="#") Destacadas
									li
										a(href="#") Ver todos

				li
					div
						a.btn.waves-effect.waves-light(href="#") Inscribe tu AC


		main
			.row
				.col.s12.m3
					.card.small
						.card-image
							img(src='http://lorempixel.com/640/480/abstract')
							span.card-title Producto Y             
						.card-content
							p
								| I am a very simple card. I am good at containing small bits of information.
								| I am convenient because I require little
						.card-action
							a(href='#') This is a link
				
				.col.s12.m3
					.card.small
						.card-image
							img(src='http://lorempixel.com/640/480/abstract')
							span.card-title Producto Y             
						.card-content
							p
								| I am a very simple card. I am good at containing small bits of information.
								| I am convenient because I require little
						.card-action
							a(href='#') This is a link
				
				.col.s12.m3
					.card.small
						.card-image
							img(src='http://lorempixel.com/640/480/abstract')
							span.card-title Producto Y             
						.card-content
							p
								| I am a very simple card. I am good at containing small bits of information.
								| I am convenient because I require little
						.card-action
							a(href='#') This is a link
				
				.col.s12.m3
					.card.small
						.card-image
							img(src='http://lorempixel.com/640/480/abstract')
							span.card-title Producto Y             
						.card-content
							p
								| I am a very simple card. I am good at containing small bits of information.
								| I am convenient because I require little
						.card-action
							a(href='#') This is a link
				
				.col.s12.m3
					.card.small
						.card-image
							img(src='http://lorempixel.com/640/480/abstract')
							span.card-title Producto Y             
						.card-content
							p
								| I am a very simple card. I am good at containing small bits of information.
								| I am convenient because I require little
						.card-action
							a(href='#') This is a link
				
				.col.s12.m3
					.card.small
						.card-image
							img(src='http://lorempixel.com/640/480/abstract')
							span.card-title Producto Y             
						.card-content
							p
								| I am a very simple card. I am good at containing small bits of information.
								| I am convenient because I require little
						.card-action
							a(href='#') This is a link
				
				.col.s12.m3
					.card.small
						.card-image
							img(src='http://lorempixel.com/640/480/abstract')
							span.card-title Producto Y             
						.card-content
							p
								| I am a very simple card. I am good at containing small bits of information.
								| I am convenient because I require little
						.card-action
							a(href='#') This is a link
				

				

		footer.container
			.row
				div.col.l6.s6
					p © 2015 Comercio Social. Todos los derechos reservados
				div.col.l3.s3
					p Términos y Condiciones
				div.col.l3.s3
					p Prensa
		
		script(type="text/javascript" src="js/dependencies/jquery.min.js")
		script(type="text/javascript" src="js/dependencies/materialize.min.js")
		script(type="text/javascript" src="js/dashboard.js")
		
